.btn {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  background: var(--color-primary);
  color: var(--color-primary-contrast);
  font-size: 1.2em;
  border-radius: var(--border);

  font-weight: 100;
}
.filled {
  background: var(--color-primary-contrast);
  color: var(--color-primary);
}
.full {
  width: 100%;
}
.normal {
  width: auto;
}
