:root {
  --color-primary: #5d5fef;
  --color-primary-contrast: white;
  --border: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  font-family: Roboto;
}
hr {
  height: 0;
  width: 100%;
  margin: 0.25em 0;
}
button {
  cursor: pointer;
  border: none;
}
button:disabled {
  --disabled: rgba(0, 0, 0, 0.5);
  border: var(--disabled);
  background: var(--disabled);
  cursor: auto;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
